$width: 166px;
$border-radius: 5px;
$main-accent: #060b35;
$secondary-accent: #616070;
$blue-accent: #00acdc;
$grey-elements: #f3f3f3;
$white-background: #fff;
$font-family: 'Roboto', sans-serif;
$card-title: #34568b;
